<div class="contact-info">
  <h3 class="contact-title">Phone number</h2>
  <p class="contact-content">01234567890</p>
  <h3 class="contact-title">Email Address</h3>
  <p class="contact-content">carrestoration@example.com</p>
  <h3 class="contact-title">Address</h3>
  <p class="contact-content">Example address</p>
</div>
