<%- include("partials/header"); -%>
<div class="hero-image">
  <div class="hero-text">
    <h1>Car restoration</h1>
    <p>Professional restoration for any car</p>
  </div>
</div>
<div class="home-about">
  <div class="about">
    <h2>Who we are</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
      repudiandae nemo labore! Saepe, sunt dicta. Quasi quo provident explicabo
      deserunt architecto dolore reprehenderit repellat quidem itaque. Repellat
      nulla asperiores sed minima sequi ipsum culpa assumenda fugiat
      consectetur, enim et similique eius illo! Rerum temporibus eos numquam
      blanditiis molestias animi laboriosam. Debitis eligendi perspiciatis
      consequuntur nostrum ducimus. Facilis voluptates deserunt non unde iste
      consequuntur recusandae. Tenetur corporis at sunt voluptate aliquam et est
      nam error eum, placeat nobis hic, repellendus eligendi, repudiandae atque
      laborum. Blanditiis eius eveniet adipisci pariatur reprehenderit. Dolore
      nesciunt nisi asperiores tempora. Cumque nihil ipsa voluptatibus tempora
      dolorem!
    </p>
  </div>

  <%- include("partials/contact-info"); -%>
</div>
<%- include("partials/footer"); -%>
