<%- include("partials/header"); -%>

<div class="projects-container">
  <div>
    <img
      class="car-image"
      src="/images/car1-before.jpg"
      onMouseover="src='images/car1-after.jpg'"
      onMouseout="src='images/car1-before.jpg'"
    />
  </div>
  <div class="car-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      similique esse nesciunt tempora eveniet reprehenderit doloremque labore
      sit et qui accusamus dolorem, aliquam asperiores rerum, a mollitia enim
      nihil quas perspiciatis repudiandae dolor quis recusandae placeat.
      Incidunt ipsa laboriosam accusantium exercitationem similique rem quos
      recusandae quod. Error, architecto! Excepturi sed, placeat iste alias
      adipisci commodi iusto neque totam quo nostrum ad, esse optio eligendi
      earum, reprehenderit vel similique. Asperiores, beatae!
    </p>
  </div>
  <div>
    <img
      class="car-image"
      src="/images/car2-before.jpg"
      onMouseover="src='images/car2-after.jpg'"
      onMouseout="src='images/car2-before.jpg'"
    />
  </div>
  <div class="car-text">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
      voluptate, architecto minima cum maxime est, iure alias corrupti veniam
      officiis laudantium! Deserunt error nobis tenetur laboriosam ex voluptates
      doloremque ab culpa cumque fugiat quibusdam autem, commodi optio libero
      quia ipsum incidunt veritatis et corrupti! Et eaque minima asperiores
      aliquid neque cumque culpa dolorem autem sapiente. Officia, qui!
      Laboriosam perspiciatis quas quibusdam neque labore libero voluptate iusto
      eligendi doloribus maiores sapiente molestias consequuntur temporibus fuga
      commodi repudiandae qui delectus, assumenda minima laudantium consequatur?
      Aperiam voluptate unde quod mollitia veritatis, labore doloremque tempora
      voluptatum adipisci omnis repudiandae. Eligendi fugiat quia sint
      repudiandae.
    </p>
  </div>
  <div>
    <img
      class="car-image"
      src="/images/car3-before.jpg"
      onMouseover="src='images/car3-after.jpg'"
      onMouseout="src='images/car3-before.jpg'"
    />
  </div>
  <div class="car-text">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab culpa atque
      nam. Facere eaque quo quis, animi blanditiis culpa deserunt sapiente
      doloribus cupiditate aliquid delectus natus atque quidem provident porro
      minima eius corporis hic quibusdam consequuntur repudiandae modi ipsum!
      Velit nisi incidunt dolorem provident. Eligendi quisquam praesentium vel
      eum molestiae ipsum qui illo cum doloribus, ipsa neque maxime, animi eos.
    </p>
  </div>
</div>

<%- include("partials/footer"); -%>
