<%- include("partials/header"); -%>

<div class="services-container">
  <h1 class="services-title">Our Services</h1>

  <div class="services-grid">
    <div class="grid-item restoration">
      <div class="grid-item-text">
        <h3>Classic Car Restoration Services</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor maiores
          minus consectetur a porro nihil quis exercitationem eaque. Est beatae
          ea, error sint nihil eligendi?
        </p>
        </div>
        <div class="grid-item-img">
          <img
            class="services-img"
            src="images/restoration.jpg"
            alt="Restoration image"
          />
        </div>
      </div>
      <div class="grid-item mechanical">
        <div class="grid-item-img">
          <img class="services-img" src="/images/engine.jpg" alt="Car engine" />
        </div>
        <div class="grid-item-text">
          <h3>Mechanical Services</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            excepturi amet mollitia, doloremque eum sed dolore voluptatum in
            neque consectetur?
          </p>
        </div>
      </div>
      <div class="grid-item respray">
        <div class="grid-item-text">
          <h3>Resprays</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
            perspiciatis sed nihil aperiam ratione inventore et iste praesentium
            architecto? Blanditiis temporibus ab quo vitae ipsam quis
            consequatur iusto a quibusdam!
          </p>
        </div>
        <div class="grid-item-img">
          <img
            class="services-img"
            src="/images/respray.jpg"
            alt="Car being resprayed"
          />
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
</div>
